name: Workflow
on:
  push:
    branches:
      - master
      - main
      - develop
      - 'hotfix/**'
      - 'release/**'
      - 'feature/**'
      - 'prototype/**'
    tags:
      - '*'
  pull_request:

permissions:
  contents: read

jobs:
  ci_remote:
    uses: nciocpl/launchables/.github/workflows/workflow.yml@workflow/v1
    permissions:
      contents: read
      packages: read # For npm install from GH Packages
      pull-requests: write  # For adding comments to PRs
    secrets: inherit
